 <div class=title>통계학</div>

      <div id='name'><p6>2014-12940 김효건</p6></div><br><br><br>

    <div style="text-align:center" >  
    <img src= <%=asset_path 'image004.jpg'%>><br><br>
  </div>
    <ol>
      <h4><li>통계학(Statistics)이란?</li></h4>
      <p>  관심대상에 대하여 관련된 <strong></strong>데이터를 수집</strong>하고 그 데이터를 <strong>요약∙정리</strong>하여 이로부터 불확실한 사실에 대한 결론이나 일반적인 규칙성을 이끌어내는 방법을 연구하는 학문</p>
      <p>  관찰자료<span class=not_important>(observation data : 관찰로 얻은 자료만을 의미하기 보다는 넓은 의미로 실험계획이나 조사연구를 통하여 얻은 자료 모두를 포함)</span>에 수학적 원리를 적용하는 응용수학의 한 분야로서 <span class=important>모집단(population), 변분(variation ; 분산), 자료축약방법(Methods of data reduction)</span>을 연구 대상으로 하는 학문</p>
      <br><br>
      <h4><li>통계학의 활용</li></h4>
        <ol>
          <a href="<%= welcome_hw_page2_path %>"><li>정규분포</li></a>
          <a href="<%= welcome_hw_page3_path %>"><li>회귀분석</li></a>
        </ol>
        <br><br>
      <h4><li>주요용어</li></h4>

      <div class = content_list>
        <ul>
            <li> 모집단(Population) </li>
            <li> 추출단위(sampling unit)</li>
            <li> 특성값(Characteristics)</li>
            <li> 표본(sample)</li>
            <li> 관찰값(Observed values)</li>
          
        </ul>        
      </div>
    
  <h4><li><%= link_to '의견달기', controller: 'articles' %></li></h4>
  
</ol>