/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body>.title{
    font-size: x-large;
    font-weight: bold;
    text-align:center;
    line-height : 5rem;
}

.table_title{
    font-size : 1.1rem;;
    line-height : 5em;
    font-weight: bold;
}

.image_title{
    font-size : 1.1rem;
    line-height : 5em;
    font-weight: bold;
}

#name{
    font-size: medium;
    font-weight: bold;
    text-align:right;
}

.important{
    color: red;
}

.not_important{
    color: gray;
}
body>ol {
    line-height : 2rem;
}
ol>li{
    font-size: large;
    line-height: 3rem;
}

.content_list{

    background-color:rgb(208, 245, 245);
}

.data_table{
    width: 100%;
    border: 1px solid #444444;
}

.data_table> th, td {
    border: 1px solid #444444;
  }